#header-image{
  height: 100px;
  width: 100px;
}

*{
  float: left;
}

header{
  /* background-color: lightblue; */
  border: solid black 1px;
  margin: 10px 5px;
  width: 100%;
}

h1{
  font-size: 40px;
  margin-left: 10px;
}

aside{
  background-color: lightcoral;
  border: solid black 1px;
  box-sizing: border-box;
  width: 25%;
  margin: 10px 5px;
  height: 550px;
}

h2{
  font-size: 25px;
}

#product-images{
  background-color: rgb(243, 243, 139);
  box-sizing: border-box;
  width: 70%;
  margin-top: 10px;
 
}

figure{
  display: inline-block;
  box-sizing: border-box;
  margin: 5px;
  width: 30%;
  height: 275px;
  border: solid black 1px;
}

section > figure > img{
  box-sizing: border-box;
  width: 100%;
  height: 100%;  
}

figcaption{
  margin-top: 5px;
  font-weight: bold;
}

#words{
  background-color: rgb(243, 156, 243);
  border: solid black 1px;
  margin-top: 40px;
  width: 70%;
}

p{
  font-size: 30px;
  font-style: italic;
}

footer{
  background-color: lightseagreen;
  width: 100%;
  margin-top: 30px;
  font-size: 10px;
}